* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background-image: url('empty.gif');
	background-repeat: no-repeat;
	margin: 0;
	padding-top: 5px;
	background: #ECF0F1;
	color: white;
	font: 1.3em/1.6 sans-serif;
	color: black;
}

#wholepage {
	margin: auto;
}


/* layout for header with links */
#header-outer {
	border-bottom: 5px solid #98AFC7;
}
#header {
    background: url('./Renoskyline.gif')
	 	repeat-x scroll left top transparent;
}
#header-inner {
	min-height: 226px;
	position: relative;
	padding: 0px 20px;
}
.hdrtext {  /* support for location 1 */
	position: absolute;
	left: 10px;
	top: 10px;
	color: black;
	font: small-caps 1.3em/1.6em sans-serif;
	text-shadow: 2px 2px white;
	padding-bottom: 10px;
}
#header-text {
	display: block;
	float: left;
	position: relative;
	color: 0;
	top: 15px;
	left: 5px;
	font: 1.5rem/1.8rem sans-serif;
	font-variant: small-caps;
	text-shadow: 2px 2px white;
}

#topmenu {
	margin-left: 350px;
	right: 20px;
	font-size: 0.9em;
	position: absolute;
	bottom: 0px;
	right: 20px;
}
#topmenu ul {
	list-style-type: none;
}
#topmenu ul.toplinks {
	margin: 0px;
	padding: 0px;
}
#topmenu ul li {
	float: left;
	margin: 0px 2px;
	padding: 0px 3px;
	background-color: #E6DD93;
	border: solid black 1px;
	border-radius: 5px 5px 0 0;
	font-family: "Arial Narrow",Arial, sans-serif
	font-size: 0.8rem;
}
#topmenu ul > ul a {
	color: black;
	display: block;
	margin: 0px 6px;
	padding: 0.3em 0.4em;	
}

/* layout for three columns with responsive design */
#content {
	overflow: hidden;
	padding: 0;
}

.column {
	float: left;
	overflow: hidden;
	display: block;
}
.left {
	background: #3498DB;
	width: 75%;
}
.center {
	background: white;
	border: 1px solid black;
	min-width: 360px;
	width: 100%;
}
.right {
	display: none;
	border: 1px dotted black;
	font-family: Verdana,sans-serif;
	font-size: 0.75rem;
	padding-left: 5px;
}

#header, 
#footer, 
.column {
	border-radius: 5px;
}

#footer {
	text-align: center;
}

#contact {
	width:50%;
	margin-left: auto;
    margin-right: auto;
    background: #ECF0F1;
    color: black;
    font: 1.3em/1.6 sans-serif;
}

.map_canvas {
	position: relative;
	padding-bottom: 100%; /*This is the aspect ratio*/
	height: 0;
	overflow: hidden;
}

.map_canvas iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}



/* phones to tablets */
/* show left menu and center content; hide right */
@media only screen and (min-width: 481px) {
	.left {
		width: 20%;
		}
	.center {
		width: 79.01287554%;
		margin-right: 0;
	}
}

/* Tablets to Desktop */
/* show all three columns */
@media only screen and (min-width: 767px) {	
	.center {
		width: 59.01287554%;
	}
	.right {
		display: block;
		width: 19.39759036%;
	}

}

/* widest screens */
@media only screen and (min-width: 1023px) {
	#wholepage {
		width: 1023px;
	}
}